<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.health.app.survey.SurveyMapper">

    <!-- 설문 데이터 저장 -->
    <insert id="create" parameterType="SurveyDTO">
    insert into "h_survey"
    (username, cost_rate, employee_rate, service_rate, equip_rate,
     member_issue, injury_issue, injury_area)
    values
    (#{username}, #{costRate}, #{employeeRate}, #{serviceRate}, #{equipRate},
     #{memberIssue}, #{injuryIssue}, #{injuryArea})
    </insert>

    <!-- 회원 1명의 최신 설문 데이터 조회 -->
    <select id="selectByUsername" parameterType="long" resultType="SurveyDTO">
    select survey_id, username, cost_rate, employee_rate, service_rate, equip_rate,
           member_issue, injury_issue, injury_area
    from "h_survey"
    where username = #{username}
    order by survey_id desc
    limit 1
    </select>

    <!-- 전체 회원 최신 설문 데이터 조회 -->
    <select id="selectAll" resultType="SurveyDTO">
    select s1.survey_id, s1.username, s1.cost_rate, s1.employee_rate, s1.service_rate,
           s1.equip_rate, s1.member_issue, s1.injury_issue, s1.injury_area
    from "h_survey" s1
    join (
        select username, max(survey_id) as max_survey_id
        from "h_survey"
        group by username
    ) latest
      on s1.username = latest.username
     and s1.survey_id = latest.max_survey_id
    </select>
</mapper>
