<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.health.app.item.ItemMapper">

<insert id="itemAdd" parameterType="ItemDTO">
insert into "h_item" (item_id,gym_id,item_category,item_count,item_name,item_date,item_price)
values (default,#{gymId},#{itemCategory},#{itemCount},#{itemName},#{itemDate},#{itemPrice})

</insert>

<select id="itemList" parameterType="int" resultType="ItemDTO">
select 
    gym_id as gymId,
    item_category as itemCategory,
    item_name as itemName,
    sum(item_count) as itemCount
from "h_item"
where gym_id=#{gymId}
group by gym_id, item_category, item_name
</select>

<select id="itemDetail" parameterType="ItemDTO" resultType="ItemDTO">
select * from "h_item"
where gym_id = #{gymId} and item_name = #{itemName}
order by item_date desc
</select>

<update id="itemUpdate" parameterType="ItemDTO">
update "h_item"
set item_price=#{itemPrice},item_count=#{itemCount},item_category=#{itemCategory},item_name=#{itemName}
where item_id=#{itemId}
</update>

<delete id="itemDelete" parameterType="ItemDTO">
delete from "h_item"
where item_id=#{itemId}

</delete>





</mapper>